*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    font: 20px "proxima_novabold", sans-serif;
    background: $bgColor;
}

.cards-wrapper {
    max-width: 750px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;

    div {
        margin: 30px;
        min-width: 300px;
    }
}

.card-login {
    @include card(387px);

    .card-title {
        @include card_title($colorCustomary);
    }

    .btn-primary {
        @include button($fontColorPrimary, $colorPrimary);
        box-shadow: none;

        .text-hover {
            display: none;
        }

        &:hover {
            @include btn-hover ($fontColorUniversal, $colorPrimaryHover);
            box-shadow: none;

            .text-initial {
                display: none;
            }

            .text-hover {
                display: block;
            }
        }
    }

    .btn-customary {
        @include button($fontColorCustomary, $colorCustomary);

        &:hover {
            @include btn-hover ($fontColorUniversal, $colorCustomaryHover);
        }
    }

    .btn-base {
        @include button($fontColorBase, $colorBase);

        &:hover {
            @include btn-hover ($fontColorUniversal, $colorBaseHover);
        }
    }

    .btn-universal {
        @include button($fontColorUniversal, $colorUniversal);

        &:hover {
            @include btn-hover ($fontColorUniversal, $colorUniversalHover);
        }
    }
}

.card-profile {
    @include card(387px);

    .card-title {
        @include card_title($colorDark);
    }

    .btn-primary {
        @include button($fontColorPrimary, $colorPrimary);
        box-shadow: none;

        .text-hover {
            display: none;
        }

        &:hover {
            @include btn-hover ($fontColorUniversal, $colorPrimaryHover);
            box-shadow: none;

            .text-initial {
                display: none;
            }

            .text-hover {
                display: block;
            }
        }
    }


    .btn-customary {
        @include button($fontColorCustomary, $colorCustomary);

        &:hover {
            @include btn-hover ($fontColorUniversal, $colorCustomaryHover);
        }
    }

    .btn-base {
        @include button($fontColorBase, $colorBase);

        &:hover {
            @include btn-hover ($fontColorUniversal, $colorBaseHover);
        }
    }

    .btn-universal {
        @include button($fontColorUniversal, $colorUniversal);

        &:hover {
            @include btn-hover ($fontColorUniversal, $colorUniversalHover);
        }
    }
}


.card-download {
    @include card(387px);

    .card-title {
        @include card_title($colorUniversal);
    }
}

.card-location {
    @include card(145px);

    .card-title {
        @include card_title($colorLight);
    }
}