*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    font: 20px "proxima_novabold", sans-serif;
    background: $bgColor;
}

.forms-wrapper {
    max-width: 750px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;

    div {
        margin: 30px;
        min-width: 300px;
    }
}

.form-login {
    @include form(387px);

    .form-title {
        @include form_title($colorCustomary);
    }

    .btn-primary {
        @include button($fontColorPrimary, $colorPrimary);
        box-shadow: none;

        &:hover {
            @include btn-hover ($fontColorUniversal, $colorPrimaryHover);
            box-shadow: none;
        }
    }

    .btn-customary {
        @include button($fontColorCustomary, $colorCustomary);

        &:hover {
            @include btn-hover ($fontColorUniversal, $colorCustomaryHover);
        }
    }

    .btn-standart {
        @include button($fontColorStandart, $colorStandart);

        &:hover {
            @include btn-hover ($fontColorUniversal, $colorStandartHover);
        }
    }

    .btn-universal {
        @include button($fontColorUniversal, $colorUniversal);

        &:hover {
            @include btn-hover ($fontColorUniversal, $colorUniversalHover);
        }
    }
}

.form-profile {
    @include form(387px);

    .form-title {
        @include form_title($colorSenary);
    }

    .btn-primary {
        @include button($fontColorPrimary, $colorPrimary);
        box-shadow: none;

        &:hover {
            @include btn-hover ($fontColorUniversal, $colorPrimaryHover);
            box-shadow: none;
        }
    }

    .btn-customary {
        @include button($fontColorCustomary, $colorCustomary);

        &:hover {
            @include btn-hover ($fontColorUniversal, $colorCustomaryHover);
        }
    }

    .btn-standart {
        @include button($fontColorStandart, $colorStandart);

        &:hover {
            @include btn-hover ($fontColorUniversal, $colorStandartHover);
        }
    }

    .btn-universal {
        @include button($fontColorUniversal, $colorUniversal);

        &:hover {
            @include btn-hover ($fontColorUniversal, $colorUniversalHover);
        }
    }
}


.form-download {
    @include form(387px);

    .form-title {
        @include form_title($colorUniversal);
    }
}

.form-location {
    @include form(145px);

    .form-title {
        @include form_title($colorDenary);
    }
}