$bgCard: grba(255, 255, 255, 0.1)
$

$btnColorPrimary: rgba(255, 255, 255, 0.4)
$btnColorCustomary: #6991d6;
$btnColorStandart: #74aed7;
$btnColorUniversal: #64a78d;

$fontColorPrimary: #8f5757;
$fontColorCustomary: #711212;
$fontColorStandart:#e3f73a;
$fontColorUniversal: #fff;
