$bgColor: linear-gradient(to bottom, #9dc1f3 0%, #010102 100%) no-repeat 50% 0;
$bgCard: rgba(#fff, 0.1);

$fontColorPrimary: #8f5757;
$fontColorCustomary: #711212;
$fontColorBase:#e3f73a;
$fontColorUniversal: #fff;

$colorPrimary: rgba(#fff, 0.4);
$colorCustomary: rgba(#4977d0, 0.53);
$colorBase: rgba(#69c1f2, 0.53);
$colorUniversal: rgba(#54c176, 0.53);
$colorDark: rgba(#a8731c, 0.53);
$colorLight: rgba(#fde47f, 0.53);

$colorPrimaryHover: #d1dced;
$colorCustomaryHover: #6d91d5;
$colorBaseHover: #82c3eb;
$colorUniversalHover: #72c192;

$font-lg: 36px;
$font-medium: 18px;
$font-small: 14px;